@use '../../variable.scss' as *;

.login{
    height: 100vh;
    width: 100vw;
    background-image: url('./../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo{
        position: absolute;
        top: 4rem;
        left: 6rem;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 8px;
        padding: 36px 64px 42px 64px;
        box-shadow: 0 4px 18px #00000040;
        width: 30%;
        background-color: white;
    }

    &__heading{
        width: 100%;
        margin-bottom: 16px;
        h1{
            font-weight: 700;
            color: $black-color;
            font-size: 24px;
        }
    }

    &__validationMessage{
        width: 100%;
    }

    &__cards{
        display: flex;
        gap: 15px;
        width: 100%;
    }

    &__divider{
        width: 100%;
        margin: 32px 0 16px 0;
    }

    &__inputs{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    &__button{
        width: 100%;
        margin-top: 20px;
    }

    &__password{
        display: flex;
        justify-content: end;
        margin-top: 8px;
        width: 100%;
    }

    &__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    &__signup{
        display: flex;
        gap: 6px;
        align-items: center;
        margin-top: 10px;

        span{
            font: Lato;
            font-size: 17px;
            color: $grey;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .login{
        // overflow: scroll;
        
        &__container{
            width: 450px;
            margin-top: 20px;
            overflow: hidden;
        }

        &__logo{
            position: absolute;
            top: 2rem;
            left: 2rem;
        }

    }
}

@media only screen and (max-width: 576px) {
    .login{
        height: 100vh;
        width: 576px;
        
        &__container{
            margin-top: 60px;
        }
    }
}