$button-primary: rgb(77,97,252);
$black-color: #181818;
$grey: #41444d;
$faint-grey: #6b7280;
$link-blue: #4d61fc;
$hover-color: #344bfc;
$input-border: #a3adce;
$error-red: #c2004f;
$faint-blue: #7181FD;
$border-red: #c70011;
$error-box-background: #fff2f2;